{% if k8s_auth_token != "" %}
{
    "K8S_API_SERVER": "https://{{ service_vip }}:{{ k8s_api_secure_port }}",
    "K8S_CA": "{{ k8s_cert_dir }}/{{ k8s_ca_file }}",
    "K8S_KEY": "{{ k8s_cert_dir }}/{{ k8s_cert_key }}",
    "K8S_CERT": "{{ k8s_cert_dir }}/{{ k8s_cert_file }}"
    "K8S_TOKEN": "{{ k8s_auth_token }}"
}
{% else %}
{
    "K8S_API_SERVER": "https://{{ service_vip }}:{{ k8s_api_secure_port }}",
    "K8S_CA": "{{ k8s_cert_dir }}/{{ k8s_ca_file  }}",
    "K8S_KEY": "{{ k8s_cert_dir }}/{{ k8s_cert_key }}",
    "K8S_CERT": "{{ k8s_cert_dir }}/{{ k8s_cert_file }}"
}
{% endif %}
