[Unit]
Description=Netmaster
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
EnvironmentFile=/etc/default/netmaster
ExecStart=/usr/bin/netmaster
KillMode=control-group
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
