[Unit]
Description=Netplugin
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
EnvironmentFile=/etc/default/netplugin
ExecStart=/usr/bin/netplugin
ExecStopPost=/usr/bin/rm -f /run/docker/plugins/netplugin.sock
KillMode=control-group
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
